.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.mission h1:before,
.our-team h1:before,
.work h1:before,
.services h1:before,
.features h1:before,
.contact .heading h1:before {
	content: "";
	width: 10px;
	height: 35px;
	background: #e1e6ea;
	position: absolute;
	top: 0;
	left: 0;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

@font-face {
	font-family: "quattrocento-sans-bold";
	src: url("../fonts/quattrocento-sans-bold.eot");
	src: url("../fonts/quattrocento-sans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/quattrocento-sans-bold.woff") format("woff"), url("../fonts/quattrocento-sans-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Socialico";
	src: url("../fonts/Socialico.eot");
	src: url("../fonts/Socialico.eot?#iefix") format("embedded-opentype"), url("../fonts/Socialico.woff") format("woff"), url("../fonts/Socialico.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
	color: #b0b1b3;
	background: #fff;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

body h1,
body h2 {
	font-family: "quattrocento-sans-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #292f36;
}

body p {
	line-height: 26px;
}

body a {
	text-decoration: none;
}

body .icon:hover {
	text-decoration: none;
}

#header {
	padding: 26px 0 25px 0;
	background: #1d2126;
}

.navbar-header {
	margin-bottom: 0;
	position: relative;
	top: 0;
	left: 0;
}

.navbar-header .logo {
	padding-top: 6px;
	display: block;
	float: left;
}

.navbar-header .logo a {
	display: inherit;
	width: 99px;
	height: 19px;
	background: url(../images/logo.png);
}

.btn-menu {
	width: 3em;
	height: 3em;
	position: relative;
	z-index: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

.btn-menu .bit-1:before {
	content: "";
	left: .5em;
	top: .5em;
	position: absolute;
	width: 1em;
	-webkit-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom;
	height: .3em;
	background: #fff;
	-webkit-transition: -webkit-transform .3s, top .3s;
	transition: transform .3s, top .3s;
}

.btn-menu .bit-1:after {
	content: "";
	position: absolute;
	right: .5em;
	top: .5em;
	width: 1em;
	-webkit-transform-origin: right bottom;
	-ms-transform-origin: right bottom;
	transform-origin: right bottom;
	height: .3em;
	background: #fff;
	-webkit-transition: -webkit-transform .3s, top .3s;
	transition: transform .3s, top .3s;
}

.btn-menu .bit-2 {
	position: absolute;
	width: 2em;
	top: 50%;
	left: 50%;
	height: .3em;
	background: #fff;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: -webkit-transform .3s .3s, width .3s .6s;
	transition: transform .3s .3s, width .3s .6s;
}

.btn-menu .bit-3:before {
	content: "";
	position: absolute;
	bottom: .5em;
	left: .5em;
	width: 1em;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	height: .3em;
	background: #fff;
	-webkit-transition: -webkit-transform .3s, bottom .3s;
	transition: transform .3s, bottom .3s;
}

.btn-menu .bit-3:after {
	content: "";
	position: absolute;
	bottom: .5em;
	right: .5em;
	width: 1em;
	-webkit-transform-origin: right top;
	-ms-transform-origin: right top;
	transform-origin: right top;
	height: .3em;
	background: #fff;
	-webkit-transition: -webkit-transform .3s, bottom .3s;
	transition: transform .3s, bottom .3s;
}

.btn-menu.open .bit-1:before {
	top: .4em;
	width: 1.2em;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transition: -webkit-transform .3s .3s, width .3s .3s, top .3s .3s;
	transition: transform .3s .3s, width .3s .3s, top .3s .3s;
}

.btn-menu.open .bit-1:after {
	top: .4em;
	width: 1.2em;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: right bottom;
	-ms-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transition: -webkit-transform .3s .3s, width .3s .3s, top .3s .3s;
	transition: transform .3s .3s, width .3s .3s, top .3s .3s;
}

.btn-menu.open .bit-2 {
	width: .3em;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
	-webkit-transition: -webkit-transform .3s .3s, width .3s;
	transition: transform .3s .3s, width .3s;
}

.btn-menu.open .bit-3:before {
	bottom: .4em;
	width: 1.2em;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: -webkit-transform .3s .3s, width .3s .3s, bottom .3s .3s;
	transition: transform .3s .3s, width .3s .3s, bottom .3s .3s;
}

.btn-menu.open .bit-3:after {
	bottom: .4em;
	width: 1.2em;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: right top;
	-ms-transform-origin: right top;
	transform-origin: right top;
	-webkit-transition: -webkit-transform .3s .3s, width .3s .3s, bottom .3s .3s;
	transition: transform .3s .3s, width .3s .3s, bottom .3s .3s;
}

.menu-collapse {
	border-top: none;
	box-shadow: none;
	margin-right: 6px;
	margin: 0;
}

.menu {
	text-align: right;
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.menu li a {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	padding: 7px 12px;
	border: 2px solid transparent;
	color: #9da7a6;
	border-radius: 2px;
}

.menu li a:hover,
.menu li a:active {
	border: 2px solid #5b6168;
	background: transparent;
}

.menu li a:focus {
	border: 2px solid #23b7a4;
	color: #23b7a4;
	background: transparent;
}

.slider {
	padding-bottom: 43px;
}

.slider .box-slider {
	padding: 226px 0 207px;
}

.slider h1 {
	font-size: 36px;
	margin: 0;
	margin-bottom: 33px;
}

.slider h1 a {
	color: #fff;
}

.slider p {
	color: #ccd0d7;
	margin-bottom: 41px;
}

.slider .banner-btn {
	color: #fff;
	border: solid 2px #fff;
	line-height: 28px;
	padding: 0 20px;
	background: transparent;
	font-family: "quattrocento-sans-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.slider .banner-btn:active {
	box-shadow: none;
}

.slider .banner-btn:hover {
	color: #fff;
	background: #23b7a4;
	border: solid 2px #23b7a4;
}

.slider .view-more {
	margin-right: 11px;
}

.slider .indicators {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	position: absolute;
	bottom: 30px;
	right: 0;
	left: inherit;
}

.slider .indicators li {
	width: 13px;
	height: 13px;
	display: block;
	border: 2px solid #fff;
	margin: 0;
	margin-right: 9px;
}

.slider .indicators li:last-child {
	margin: 0;
}

.about {
	padding: 87px 0 100px;
}

.mission h1 {
	color: #292f36;
	padding-left: 24px;
	margin: 0;
	margin-bottom: 65px;
	position: relative;
}

.mission p {
	margin-bottom: 39px;
}

.mission p:nth-of-type(n+2) {
	margin-bottom: 54px;
}

.mission b {
	color: #8d8f92;
}

.social-icons {
	margin-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.social-icons li {
	display: block;
	padding: 0;
	margin-right: 2px;
}

.social-icons li:last-child {
	margin: 0;
}

.social-icons li a {
	font-size: 28px;
	background: #c8cdd0;
	color: #fff;
	width: 60px;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.social-icons li a:hover {
	text-decoration: none;
	background: #d0d5d9;
}

.goals {
	padding-top: 97px;
}

.goals li {
	padding-left: 70px;
	position: relative;
}

.goals li:before {
	color: #fff;
	font-family: "quattrocento-sans-bold";
	font-size: 20px;
	width: 50px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #23b7a4;
	position: absolute;
	top: 12px;
	left: 0;
}

.goals li:nth-child(1):before {
	content: "01";
}

.goals li:nth-child(2):before {
	content: "02";
}

.goals li:nth-child(3):before {
	content: "03";
}

.goals li:nth-child(-n+2) {
	margin-bottom: 40px;
}

.goals h2 {
	margin: 0;
	margin-bottom: 20px;
}

.goals h2 a {
	color: inherit;
	font-size: 18px;
}

.goals p {
	margin: 0;
}

.our-team {
	padding: 88px 0 80px;
	position: relative;
}

.our-team:before {
	content: "";
	width: 100%;
	height: 1px;
	display: block;
	background: #dde1e4;
	position: absolute;
	top: 0;
}

.our-team h1 {
	text-transform: uppercase;
	padding-left: 27px;
	margin: 0;
	margin-bottom: 64px;
	position: relative;
}

.staff {
	width: 263px;
	margin: 0 auto 20px;
	position: relative;
}

.staff p {
	margin: 0;
	position: relative;
}

.staff p:before {
	content: "";
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(255, 255, 255, .3);
	position: absolute;
	top: 0;
	z-index: 1;
}

.staff:hover p:before {
	display: block;
}

.staff:hover .social-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.staff:hover .position {
	background: #3a454d;
	color: #fff;
}

.staff:hover .position a,
.staff:hover .position span {
	color: inherit;
}

.staff .social-icons {
	display: none;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	position: absolute;
	top: 125px;
	left: 50%;
	margin-left: -75px;
	z-index: 2;
}

.staff .social-icons a {
	font-size: 24px;
	color: #fff;
	text-decoration: inherit;
	width: 50px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #3a454d;
}

.staff .social-icons a:nth-of-type(-n+2) {
	margin-right: 1px;
}

.staff .social-icons a:hover {
	background: #4e5a62;
}

.position {
	padding: 21px 0 20px 51px;
	background: #e1e6ea;
}

.position a {
	display: block;
	color: #8d8f92;
	text-decoration: inherit;
	font-size: 14px;
}

.position span:nth-of-type(-n+1) {
	color: #292f36;
	font-family: "quattrocento-sans-bold";
	font-size: 16px;
}

.work {
	padding: 87px 0 60px;
	background: #3a454d;
}

.work-block {
	position: relative;
	padding-bottom: 74px;
}

.work h1 {
	color: #fff;
	padding-left: 42px;
	margin: 0;
	margin-bottom: 64px;
	position: relative;
}

.work h1:before {
	background: #4e5a62;
}

.work-btn {
	text-align: center;
}

.work .portfolio {
	width: 360px;
	margin: auto;
}

.work .work-btn .show-more {
	color: #fff;
	font-family: "quattrocento-sans-bold";
	font-size: 14px;
	margin: auto;
	padding: 17px 22px;
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 2px;
	background: transparent;
}

.work .work-btn .show-more:hover,
.work .work-btn .show-more:active {
	color: #fff;
	border: 2px solid #23b7a4;
	background: #23b7a4;
	box-shadow: none;
}

.project {
	margin-bottom: 30px;
}

.project .portfolio {
	text-align: center;
	display: block;
	position: relative;
}

.project .portfolio:before {
	content: "";
	width: 20px;
	height: 20px;
	display: none;
	background: url(../images/cross.png);
	position: absolute;
	top: 76px;
	left: 50%;
	margin-left: -5px;
	z-index: 4;
}

.project .portfolio:after {
	content: "";
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, .3);
	background-origin: padding-box;
	position: absolute;
	top: 0;
	z-index: 3;
}

.project .portfolio .partnership {
	color: #fff;
	font-family: "quattrocento-sans-bold";
	font-size: 18px;
	padding: 25px 0 23px 20px;
	background: #292f36;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 5;
}

.project .portfolio:hover:before,
.project .portfolio:hover:after,
.project .portfolio:hover .partnership {
	display: block;
}

.services {
	padding: 80px 0 71px;
}

.services h1 {
	padding-left: 24px;
	margin: 0;
	margin-bottom: 90px;
	position: relative;
}

.categories {
	color: #b0b1b3;
	padding-top: 83px;
	margin-bottom: 95px;
	text-align: center;
	position: relative;
}

.categories:before {
	content: "";
	width: 48px;
	height: 48px;
	display: block;
	margin: 0 auto 83px;
}

.categories:nth-of-type(5):before,
.categories:nth-of-type(1):before {
	background: url(../images/sprite.png) -2px -2px;
}

.categories:nth-of-type(6):before,
.categories:nth-of-type(2):before {
	background: url(../images/sprite.png) -53px -2px;
}

.categories:nth-of-type(7):before,
.categories:nth-of-type(3):before {
	background: url(../images/sprite.png) -102px -2px;
	width: 30px;
}

.categories:nth-of-type(8):before,
.categories:nth-of-type(4):before {
	background: url(../images/sprite.png) -134px -2px;
}

.categories a {
	font-family: "quattrocento-sans-bold";
	font-size: 17px;
	color: #292f36;
	margin-bottom: 30px;
	display: block;
}

.features {
	color: #fff;
	padding: 85px 0 120px;
	background: #3a454d;
}

.features h1 {
	color: #fff;
	padding-left: 27px;
	margin: 0;
	margin-bottom: 60px;
	position: relative;
}

.features h1:before {
	background: #4e5a62;
}

.features .features-content {
	width: 360px;
	margin: auto;
}

.features img {
	margin-bottom: 55px;
}

.features a {
	color: inherit;
	margin-bottom: 30px;
	display: block;
}

.features p {
	color: #dcdfe1;
}

.contact {
	padding: 65px 0 100px;
}

.contact .heading {
	margin-bottom: 60px;
}

.contact .heading h1 {
	padding-left: 25px;
	margin: 0;
	position: relative;
}

.contact #map {
	height: 346px;
}

.contact .inform {
	padding-top: 60px;
}

.contact .inform h2 {
	margin: 0;
	margin-bottom: 40px;
	font-size: 20px;
}

.contact .inform p:nth-of-type(1) {
	margin-bottom: 36px;
}

.contact .inform b {
	color: #8d8f92;
}

.contact .contact-form {
	width: 555px;
	padding: 30px;
	padding-bottom: 0;
	background: #fff;
}

.contact .contact-form .group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.contact .contact-form .form-group {
	margin-bottom: 30px;
}

.contact .contact-form .form-group:nth-of-type(1) {
	margin-right: 15px;
}

.contact .contact-form label {
	color: #8d8f92;
	margin-bottom: 10px;
}

.contact .contact-form .field {
	background: #eaeef1;
	border: none;
	box-shadow: none;
}

.contact .contact-form input[type="text"],
.contact .contact-form input[type="email"] {
	width: 240px;
	height: 44px;
	padding-left: 15px;
}

.contact .contact-form .message {
	height: 159px;
	resize: none;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-left: 15px;
}

.contact .contact-form .btn-form {
	color: #fff;
	padding: 17px 26px 16px;
	font-family: "quattrocento-sans-bold";
	font-size: 14px;
	border: none;
	border-radius: 4px;
	background: #23b7a4;
}

.contact .contact-form .btn-form:hover {
	color: #23b7a4;
	border: 2px solid #23b7a4;
	background: transparent;
}

.contact .contact-form .btn-form:active {
	box-shadow: none;
}

.contact .contact-form .btn-form:focus {
	outline: none;
}

#footer {
	padding: 40px 0 36px 0;
	background: #3a454d;
}

#footer small {
	color: #f5f6f6;
	padding-top: 2px;
}

#footer .social-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

#footer .social-icon li {
	margin-right: 19px;
	padding: 0;
}

#footer .social-icon li:last-child {
	margin: 0;
}

#footer .social-icon a {
	font-size: 20px;
	color: #fff;
	padding-bottom: 4px;
}

#footer .social-icon a:hover {
	color: #c8cdd0;
}

@media (min-width: 769px) {
	.menu li:nth-child(-n+6) {
		margin-right: 9px;
	}

	.contact .contact-form {
		width: 100%;
		margin-top: 0;
	}

	.contact .contact-form .group .form-group {
		width: 50%;
	}

	.contact .contact-form input[type="text"],
	.contact .contact-form input[type="email"] {
		width: 100%;
	}
}

@media (min-width: 1025px) {
	.menu li:nth-child(-n+6) {
		margin-right: 28px;
	}
}

@media (min-width: 1201px) {
	.contact .contact-form {
		margin-top: -129px;
	}
}

@media (max-width: 767px) {
	.same-header {
		margin-left: 0;
		margin-right: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.navbar-header {
		padding-left: 15px;
		padding-right: 15px;
	}

	.menu {
		padding-top: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.menu li {
		margin-bottom: 15px;
		text-align: center;
	}

	.menu li a {
		display: inline-block;
	}

	.menu li:last-child {
		margin: 0;
	}

	.slider .box-slider {
		padding: 50px 0 50px;
	}

	.about {
		padding: 30px 0 50px;
	}

	.our-team {
		padding: 30px 0 30px;
	}

	.work {
		padding: 30px 0 20px;
	}

	.services {
		padding: 30px 0 20px;
	}

	.categories {
		margin-bottom: 0;
		padding: 0 10px;
	}

	.categories:before {
		margin-bottom: 30px;
	}

	.features {
		padding: 30px 0 30px;
	}

	.contact {
		padding: 30px 0 30px;
	}

	.contact .contact-form {
		width: 100%;
	}

	.contact .contact-form .group {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.contact .contact-form .group .form-group {
		width: 100%;
	}

	.contact .contact-form input[type="text"],
	.contact .contact-form input[type="email"] {
		width: 100%;
	}

	#footer small {
		display: block;
		text-align: center;
	}

	#footer .social-icon {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media (max-width: 479px) {
	.mission .social-icons li {
		margin-right: 5px;
		margin-bottom: 5px;
	}

	.work .portfolio {
		width: 290px;
	}

	.work .portfolio a img {
		width: 100%;
	}

	.features .features-content {
		width: 290px;
	}

	.features .features-content img {
		width: 100%;
	}

	.contact .form-block .contact-form {
		padding: 0;
	}
}
