@font-face {
    font-family: "quattrocento-sans-bold";
    src: url("../fonts/quattrocento-sans-bold.eot");
    src: url("../fonts/quattrocento-sans-bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/quattrocento-sans-bold.woff") format("woff"),
    url("../fonts/quattrocento-sans-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Socialico";
    src: url("../fonts/Socialico.eot");
    src: url("../fonts/Socialico.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Socialico.woff") format("woff"),
    url("../fonts/Socialico.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}